@{
  Layout = "_Layout";
}

@model PierresTreats.ViewModels.FlavorTreatViewModel
<h2>List of Flavors and Treats</h2>
<h3>Flavors:</h3>
<hr>
@if (@Model.FlavorList.Count == 0)
{
  <h3>No flavors have been added yet!</h3>
} 
@foreach (var flavor in Model.FlavorList)
{
  <p>@Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new { id = flavor.FlavorId })</p>
}
<a href='@Url.Action("Index", "Flavors")'><h4>Create a New Flavor</h4></a>
<hr>
<h3>Treats:</h3>
<hr>
@if (@Model.TreatList.Count == 0)
{
  <h3>No treats have been added yet!</h3>
} 
@foreach (var treat in Model.TreatList)
{
  <p>@Html.ActionLink($"{treat.Name}", "Details", "Treats", new { id = treat.TreatId })</p>
}
<a href='@Url.Action("Index", "Treats")'><h4>Create a New Treat</h4></a>
<hr>
